<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %> Details Page</title>
  </head>
  <body>
    <h1><%= product.name %> Details Page</h1>
    <ul>
      <li>Price: $<%= product.price %></li>
      <li>Category: <%= product.category %></li>
    </ul>

    <a href="/products/">Show all products</a>
    <a href="/products/<%= product._id %>/edit">Edit product</a>

    <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
